Repository DavidWesley/beecrowd-solutions-in-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run test

.lintstagedrc.json:

{
  "./{src,util}/**/*.{js,ts}": [
    "npm run lint:fix"
  ],
  "./test/**/*.{js,ts}": [
    "npm run test"
  ]
}

chore(package.json): update test script to include TypeScript test files
  package.json
Due: none

feat(util): Add Float function for converting numbers to floating-point numbers
  util/float.ts
Due: npm run lint:fix

test(util): add tests for Float class
  test/util/float.test.ts
Due: npm run test

chore: Refactor file and folder structure for better organization
  package.json
  test/utils/float.test.ts
  tsconfig.json
  utils/float.ts
Due: npm run test

feat: 1059 - Even Numbers
  src/beginner/1059.ts
Due: npm run lint:fix

feat: 1064 - Positives and Average
  src/beginner/1064.ts
Due: npm run lint:fix

feat: 1060 - Positive Numbers
  src/beginner/1060.ts
Due: npm run lint:fix

feat: 1065 - Even Between five Numbers
  src/beginner/1065.ts
Due: npm run lint:fix

feat: 1067 - Odd Numbers
  src/beginner/1067.ts
Due: npm run lint:fix

feat: 1066 - Even, Odd, Positive and Negative
  src/beginner/1066.ts
Due: npm run lint:fix

feat: 1070 - Six Odd Numbers
  src/beginner/1070.ts
Due: npm run lint:fix

fix: isEven and isOdd functions to handle negative numbers
  src/beginner/1065.ts
  src/beginner/1066.ts
  src/beginner/1070.ts
Due: npm run lint:fix

feat: 1073 - Even Square
  src/beginner/1073.ts
Due: npm run lint:fix

feat: 1080 - Highest and Position
  src/beginner/1080.ts
Due: npm run lint:fix

feat: 1078 - Multiplication Table
  src/beginner/1078.ts
Due: npm run lint:fix

feat: 1114 - Fixed Password
  src/beginner/1114.ts
Due: npm run lint:fix

chore(package.json): set typescript version to 5.1.6
  package.json
Due: none

chore: Update file mode to 100644
  src/beginner/1001.ts
Due: npm run lint:fix

chore: Update VSCode settings, package dependencies, and TypeScript configuration
  .vscode/settings.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: update lint-staged
  package-lock.json
  package.json
Due: none

chore: update workspace configs
  .gitattributes
  .gitconfig
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package-lock.json
  package.json
Due: none

chore: remove unecessary eslint configs
  .eslintrc.json
  .lintstagedrc.json
Due: none

feat: 1199 - Conversão Simples de Base
  src/maths/1199.ts
Due: npm run lint:fix

chore: update lintstaged config
  .lintstagedrc.json
Due: none

feat: 1620 - Triangulação de Delaunay
  src/maths/1620.ts
Due: npm run lint:fix

feat: 2203 - Tempestade de Corvos
  src/beginner/2203.ts
Due: npm run lint:fix

feat: 2549 - Nomes de Usuários
  src/strings/2549.ts
Due: npm run lint:fix

feat: 1898 - Soma de Propina
  src/strings/1898.ts
Due: npm run lint:fix

feat: 1291 - Será Isso Integração?
  src/geometry/1291.ts
Due: npm run lint:fix

chore: update lint and removing unecessary DOM suport
  biome.json
  tsconfig.json
Due: none

feat: 3152 - Samuel, O Cafeicultor
  src/geometry/3152.ts
Due: npm run lint:fix

feat: 1295 - Problema dos Pares Mais Próximos
  src/geometry/1295.ts
Due: npm run lint:fix

feat: 2443 - Soma de Frações
  src/adhoc/2443.ts
Due: npm run lint:fix

chore: update biome config
  biome.json
Due: none

feat: 2162 - Picos e Vales
  src/beginner/2162.ts
Due: npm run lint:fix
